Repository Jhonatanmizu/jhonatan-jesus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "vitest run --passWithNoTests"],
  "src/**/*.tsx": ["eslint --fix -c .eslintrc.json"]
}

:sparkles: added ubuntu font-face
  index.html
Due: none

:sparkles: created main section
  src/components/Main/index.tsx
  src/components/Main/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: created container styles
  src/layout/containers.ts
Due: eslint --fix, vitest run --passWithNoTests

:sparkles: created typography styles
  src/App.tsx
  src/layout/typography.ts
  src/styles/global.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
  tsconfig.json
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: created footer
  src/components/Footer/index.tsx
  src/components/Footer/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:lipstick: update main styles
  src/components/Main/index.tsx
  src/components/Main/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: created skills section
  src/App.tsx
  src/components/Skills/index.tsx
  src/components/Skills/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:lipstick: optimized styles
  src/layout/containers.ts
  src/layout/typography.ts
  src/styles/global.ts
Due: eslint --fix, vitest run --passWithNoTests

:recycle: finished footer layout
  src/components/Footer/index.tsx
  src/components/Footer/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:recycle: added link to github in footer
  src/components/Footer/index.tsx
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: created project card
  src/components/Card/index.tsx
  src/components/Card/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: created project section
  src/components/Projects/index.tsx
  src/components/Projects/styles.ts
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json

:sparkles: added photo to main
  package.json
  src/App.tsx
  src/assets/beanEater.svg
  src/assets/photo.png
  src/components/Main/index.tsx
  src/components/Main/styles.ts
  yarn.lock
Due: eslint --fix, vitest run --passWithNoTests, eslint --fix -c .eslintrc.json
